
$primary-font: 'Mulish';
$secondary-font: 'Montserrat';

$primary-bg: linear-gradient(to bottom, #081221 ,#03080f);
$secondary-bg: #0e1a2b;
$dark-bg: #182c47; // Used with inputs
$light-bg: #5692e8; // Used with buttons

$primary-color: #c1d1e8; // Used with text
$secondary-color: #ffffff; // Used with headings, button text and labels

$text-2lg:1.6rem;
$text-xl:2rem;
$text-2xl:2.5rem;
$text-lg:1.2rem;
$text-md:1rem;
$test-sm:.5rem;


$md:950px;
$sm:650px